.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;

  &-left {
    grid-area: 1 / 1;
    border-right: $border;
  }

  &-main {
    grid-column: 2 / 12;
  }

  &-right {
    grid-column: 12 / 13;
    border-left: $border;
  }
}
