body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;

  @media ($mobile) {
    overflow-y: auto;
  }
}

a {
  color: $black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
