@mixin font-face($fontWeight, $fontSize, $fontStyle: normal, $fontFamily: $font-family) {
  font-family: $fontFamily, sans-serif;
  font-weight: $fontWeight;
  font-style: $fontStyle;
  font-size: $fontSize;
}

.h0,
h1 {
  @include font-face($font-regular, $font-size-h0, normal, 'elena');
  @include fluid-type($min_width, $max_width, $font-size-h2, $font-size-h0);
}

.h2 {
  @include font-face($font-light, $font-size-h0, normal);
  @include fluid-type($min_width, $max_width, $building-unit-x4, $building-unit-x6);
}

h2 {
  @include font-face($font-light, $font-size-h0, normal);
  @include fluid-type($min_width, $max_width, $font-size-h3, $font-size-h2);
}

.h1 {
  @include font-face($font-regular, $font-size-h0, normal, 'elena');
  @include fluid-type($min_width, $max_width, $font-size-h3, $font-size-h1);
}

.p-body {
  @include font-face($font-light, $font-size-base);

  &-big {
    @include font-face($font-light, $font-size-h3);
  }
}

.p-body-italic {
  @include font-face($font-light, $font-size-base, italic);
}

.caption {
  @include font-face($font-thin, $font-size-caption);
}

div.is-bold,
p.is-bold,
span.is-bold {
  font-weight: $font-bold;
}


p.is-red,
h1.is-red,
h2.is-red,
h3.is-red,
span.is-red {
  color: $red;
}

p.is-blue,
h1.is-blue,
h2.is-blue,
h3.is-blue,
span.is-blue {
  color: $blue;
}

.is-uppercase {
  text-transform: uppercase;
}
