@mixin font-face($fontWeight, $fontSize, $fontStyle: normal) {
  font-family: $font-family, sans-serif;
  font-weight: $fontWeight;
  font-style: $fontStyle;
  font-size: $fontSize;
}

.h0 {
  @include font-face($font-bold, $font-size-h0);
}

h1 {
  @include font-face($font-bold, $font-size-h1);
  @include fluid-type($min_width, $max_width, $font-size-h3, $font-size-h1);
}

h2 {
  @include font-face($font-light, $font-size-h2);
}

h3 {
  @include font-face($font-bold, $font-size-h3);
}

div,
p {
  @include font-face($font-light, $font-size-base);
}

.p-body {
  @include font-face($font-light, $font-size-small);
}

.p-body-italic {
  @include font-face($font-light, $font-size-small, italic);
}

.caption {
  @include font-face($font-thin, $font-size-caption);
}

div.is-bold,
p.is-bold,
span.is-bold {
  font-weight: $font-bold;
}


p.is-blue,
h1.is-blue,
h2.is-blue,
h3.is-blue,
span.is-blue {
  color: $blue;
}

.is-uppercase {
  text-transform: uppercase;
}
