// colors
$brown: #877874;
$brown-light: #E4DCDA;
$black: #121212;
$white: #ffffff;
$gray: #808080;

$blue: #0455BF;
$red: #FF0092;
$pink: #FDF9FF;

// Building Units
$building-unit: 8px;
$building-unit-x0_5: $building-unit / 2; // 4px
$building-unit-x2: $building-unit * 2; // 16px
$building-unit-x3: $building-unit * 3; // 24px
$building-unit-x4: $building-unit * 4; // 32px
$building-unit-x5: $building-unit * 5; // 40px
$building-unit-x6: $building-unit * 6; // 48px
$building-unit-x7: $building-unit * 7; // 56px
$building-unit-x8: $building-unit * 8; // 64px
$building-unit-x9: $building-unit * 9; // 72px
$building-unit-x10: $building-unit * 10; // 80px
$building-unit-x11: $building-unit * 11; // 88px
$building-unit-x12: $building-unit * 12; // 96px

// Border
$border: 1px solid $gray;
// Transition
$transition-duration-default: 0.3s;

// Typography
$font_path: '/fonts/';
$font-family: 'futura-pt';
$font-family-bold: 'elena';

// font-size
$font-size-base: 18px;
$font-size-small: 16px;
$font-size-caption: 12px;
$font-size-h0: 120px;
$font-size-h1: 104px;
$font-size-h2: 36px;
$font-size-h3: 24px;

// line-height
$line-height-base: 1.2;

// font-weights
$font-thin: 100;
$font-light: 400;
$font-regular: 500;
$font-medium: 600;
$font-bold: 700;
$font-ultra: 900;

// media queries
$mobile: 'max-width: 767px';
$tablet: 'max-width: 1024px';
$desktop: 'max-width: 1366px';
$wide-desktop: 'max-width: 1499px';
$large-desktop: 'max-width: 1799px';

$from-desktop: 'min-width: 1024px';
$from-wide-desktop: 'min-width: 1500px';

$min_width: 320px;
$max_width: 1367px;

